.comment-user{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: rgba(7, 34, 203, 0.58);
}

.comment-datetime{
  margin-left: 5%;
}

.comment-margin{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 1%;
}

.title-author{
  display: inline-block;
}
.title-date{
  display: inline-block;
  margin-left: 10px;
}

.wrapper{
  width:90%;
  /*margin: 10% auto;*/
  margin: 5% auto 10%;
}