@media screen and (max-width: 1600px) {
  .content-left {
    position: relative;
    top: 0;
    width: 26%;
    height: 100%;

    display: inline-block;
    margin-right: 3%;

  }

  .content-right {
    width: 25%;
    height: 100%;
    margin-left: 3%;
    display: inline-block;
  }
}

@media screen and (max-width: 600px) {
  .content-left {
    position: relative;
    top: 0;
    width: 0;
    height: 100%;
    /*min-width: 100px;*/
    /*visibility: hidden;*/
    /*display: inline-block;*/
    /*margin-right: 3%;*/
  }

  .content-right {
    /*visibility: hidden;*/
    width: 0;
    height: 100%;
    /*margin-left: 3%;*/
    /*display: inline-block;*/
  }
}


.content-middle {
  display: inline-block;
  width: 40%;
  min-width: 400px;
  min-height: 600px;
  height: 100%;
  position: relative;
}

.mainContent {
  position: absolute;
  width: 50%;
  left: 25%;
  min-width: 500px;
  min-height: 600px;
}

@media screen and (max-width: 600px) {
  .mainContent {
    position: absolute;
    width: 100%;
    left: 5px;
    min-width: 500px;
    min-height: 600px;
  }
}

.limit-length {
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.managebook {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
}

.sidebar {
  position: fixed;
  height: 400px;
  top: 20%;
  right: 17%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


@media screen and (max-width: 1000px) {
  .sidebar {
    position: fixed;
    height: 400px;
    top: 20%;
    right: 8%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

  }
}


@media screen and (max-width: 600px) {
  .sidebar {
    position: fixed;
    height: 50px;
    top: 0;
    right: 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

  }
}

.sidebar button {
  margin-top: 5px;
}




