
.BookItem{
  margin-bottom:1%;
}
.Author {
  margin-left: 5%;
  display: inline;
}
.Love{
  margin-left: 5%;
  display: inline;
}

.BookInfo{
  display: inline;
}
.BookPhoto{
  display: inline;
}

.BookPhoto img{
  width: 80px;
  height: 100px;
  margin-bottom: 20%;
  margin-left: 5%;
}


.mainLogin{
  margin-top:20%;
  margin-left: auto;
  margin-right: auto;
  width:50%;
}

.loginButton{
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}


.sidebar_right{
  position: fixed;
  right:5%;
  margin-top: 5%;
  list-style-type: none;
}

.sidebar_right  li{
  margin-bottom: 10%;
}

.Textarea{
  padding: 10px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  width: 100%;
  height: 500px;
  margin-top: 3%;
}

.Textarea_write{
  padding: 10px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  width: 100%;
  height: 100px;
  margin-top: 3%;
}


.pagenation{
  margin: 5% 20% 10% 20%;
}

.nodata{
  border:1px solid rgba(134, 102, 153, 0.16);
  text-align: center;
  height:100px;
  line-height: 100px;
}

.chaptername{
  margin-top: 3%;
  font-size: 18px;
}

.home-tag{
  position: absolute;
  right:0;
  width: 100px;
}
.home-tag li{
  margin-top: 5px;
}

.introduction{
  width:200px;
  height: 100%;
  border:1px solid ;
  border-radius: 5px;
  padding: 5px;
}