
/*.Navigator ul {*/
  /*margin-top: 0.05rem;*/


  /*width: 60%;*/
  /*position: relative;*/
  /*margin-left: 15%;*/
  /*margin-right: auto;*/
  /*height: 100%;*/
  /*list-style: none;*/


  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: space-between;*/
  /*font-family: DialogInput, serif;*/

  /*font-size: 0.3rem;*/
/*}*/


/*.Navigator li img {*/
  /*width: 0.7rem;*/
  /*height: 0.7rem;*/
/*}*/

/*.Navigator ul li input {*/

  /*line-height: 0.5rem;*/
  /*border-radius:0.2rem;*/
  /*border: #666666 1px solid;*/
/*}*/

.BookItem{
  margin-bottom:1%;
}
.Author {
  margin-left: 5%;
  display: inline;
}
.Love{
  margin-left: 5%;
  display: inline;
}

.BookInfo{
  display: inline;
}
.BookPhoto{
  display: inline;
}

.BookPhoto img{
  width: 80px;
  height: 100px;
  margin-bottom: 20%;
  margin-left: 5%;
}

.sidebar_left{
  position: absolute;
  height: 100%;
  padding: 2% 5% 2% 2%;
  left: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar_left Button{
  position: relative;
  bottom:20%;
  margin-bottom: 4%;
  margin-top: 10%;
}


.sidebar_left_span{
  border-bottom: black 1px solid;
  position: absolute;
  top:-3%;
  left: 5%;
  width:95%;
}

.Directory{
  margin-bottom: 4%;
}


.lg{
  margin-top: 5%;
}
.login{
  display: inline-block;
  margin-left: 20%;
}

.register{
  display: inline-block;
  margin-left: 20%;
}

.savesettings{
  margin-left: 35%;

}

.sidebar_right{
  position: fixed;
  right:5%;
  margin-top: auto;
  margin-bottom: auto;

}
.sidebar_right {
  list-style-type: none;
}

.sidebar_right  li{
  margin-bottom: 10%;
}

.Textarea{
  padding: 10px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  width: 100%;
  height: 500px;
  margin-top: 3%;
}

.wrap_write{
  display: flex;
  align-items: start ;
  justify-content: space-around;

}

