.information{

  padding-left:5%;
  border-left: 1px solid rgba(9, 24, 203, 0.12);
  border-bottom:  1px solid rgba(203, 26, 126, 0.16);
  padding-bottom:1%;
  margin-bottom: 5%;
}

.information-title{
  color: #554cff;
}

.nav{
  display: flex;
  align-items: center;
  justify-content:space-around;
}

.content{
  margin-top: 3%;
}

.user{
  margin-top: 1%;
}