.information{
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 2%;
  padding-left:5%;

  padding-bottom:1%;
  margin-bottom: 5%;
}

.information-title{
  color: #554cff;
}

.nav{
  display: flex;
  align-items: center;
  justify-content:space-around;
}

.content{
  margin-top: 3%;
}

.user{
  margin-top: 1%;
}